<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="LogInJSON" target="SYSTEM_OUT">
            <JsonLayout complete="true" compact="true">
                <KeyValuePair key="myCustomField" value="myCustomValue" />
            </JsonLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.mycompany.app" level="debug" additivity="false">
            <AppenderRef ref="LogInJSON" />
        </Logger>
        <Root level="error">
            <AppenderRef ref="LogInJSON" />
        </Root>
    </Loggers>
</Configuration>
